# API Configuration
PORT=4000
COZORO_TIMEZONE="Asia/Ho_Chi_Minh"

# Google Integration
GOOGLE_CLIENT_ID="your_client_id"
GOOGLE_CLIENT_SECRET="your_client_secret"
GOOGLE_REDIRECT_URI="http://localhost:4000/integrations/google/oauth/callback"
GOOGLE_SPREADSHEET_ID="your_spreadsheet_id"

# Database
DATABASE_URL="mysql://user:pass@localhost:3306/dbname"

# Other
IFTTT_WEBHOOK_KEY="your_key"
AIRFRYER_D7_IFTTT_EVENT="webhookairfryer"
MICROWAVE_D2_IFTTT_EVENT="microwaveD2"
GOOGLE_MICROWAVE_LOG_SPREADSHEET_ID="your_microwave_log_spreadsheet_id"
